.hero-img {
    position: absolute;
    width: 1440px;
    height: 400px;
    left: 0px;
    top: 134px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
}

h1 {
    position: absolute;
    width: 920px;
    height: 43px;
    left: 260px;
    top: 275px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}

p {
    position: absolute;
    width: 920px;
    height: 44px;
    left: 259px;
    top: 349px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}